<div
  *ngIf="state.userInfo.isError"
  class="flex flex-col justify-center items-center h-screen">
  <h1 class="full-screen-end-title">
    {{ 'PAGES.LOADING.ERROR_TITLE' | translate }}
  </h1>
  <p class="full-screen-end-prose">
    {{ 'PAGES.LOADING.ERROR_MESSAGE' | translate }}
  </p>
  <a
    class="bg-black hover:bg-black text-white font-bold py-2 px-4 rounded"
    href="/">
    {{ 'PAGES.LOADING.GO_BACK_HOME' | translate }}
  </a>
</div>

<div
  *ngIf="state.userInfo.isLoading"
  class="flex justify-center items-center h-screen">
  <div
    class="border-4 border-gray-300 border-t-0 border-l-0 rounded-full w-16 h-16 animate-spin"></div>
</div>
