<div class="flex gap-4 flex-wrap">
  <!-- Legal Name -->
  <app-text-input
    class="flex-1"
    label="{{ 'FORMS.ORGANIZATION.LEGAL_NAME' | translate }}"
    ctrlId="formRegLegalName"
    data-testid="formRegLegalName"
    placeholder="{{ 'FORMS.ORGANIZATION.LEGAL_NAME_PLACEHOLDER' | translate }}"
    required
    [ctrl]="orgForm.controls.legalName"></app-text-input>

  <!-- Legal Name -->
</div>

<div class="flex gap-4 flex-wrap">
  <!-- Website -->
  <app-text-input
    class="flex-1"
    label="{{ 'FORMS.ORGANIZATION.WEBSITE' | translate }}"
    ctrlId="formRegWebsite"
    data-testid="formRegWebsite"
    placeholder="{{ 'FORMS.ORGANIZATION.WEBSITE_PLACEHOLDER' | translate }}"
    required
    [ctrl]="orgForm.controls.website"></app-text-input>
  <!-- Website -->
</div>

<div class="flex gap-4 flex-wrap">
  <!-- Business Unit -->
  <app-text-input
    class="flex-1"
    label="{{ 'FORMS.ORGANIZATION.BUSINESS_UNIT' | translate }}"
    ctrlId="formRegBusinessUnit"
    data-testid="formRegBusinessUnit"
    placeholder="{{ 'FORMS.ORGANIZATION.BUSINESS_UNIT_PLACEHOLDER' | translate }}"
    required
    [ctrl]="orgForm.controls.businessUnit"></app-text-input>
  <!-- Business Unit -->

  <!-- Industry -->
  <app-industry-select
    class="flex-1"
    data-testid="industry-selector"
    required
    [label]="'FORMS.INDUSTRY.LABEL' | translate"
    [ctrl]="orgForm.controls.industry"></app-industry-select>
  <!-- Industry -->
</div>

<div class="flex flex-col">
  <div class="flex gap-4 flex-wrap">
    <!-- Street -->
    <app-text-input
      class="flex-1"
      label="{{ 'FORMS.ORGANIZATION.STREET' | translate }}"
      ctrlId="formRegStreet"
      data-testid="formRegStreet"
      placeholder="{{ 'FORMS.ORGANIZATION.STREET_PLACEHOLDER' | translate }}"
      required
      [ctrl]="orgForm.controls.mainAddressStreet"></app-text-input>
    <!-- Street -->

    <!-- House No -->
    <app-text-input
      class="flex-1"
      label="{{ 'FORMS.ORGANIZATION.HOUSE_NO' | translate }}"
      ctrlId="formRegHouseNo"
      data-testid="formRegHouseNo"
      placeholder="{{ 'FORMS.ORGANIZATION.HOUSE_NO_PLACEHOLDER' | translate }}"
      required
      [ctrl]="orgForm.controls.mainAddressHouseNo"></app-text-input>
    <!-- House No -->
  </div>

  <div class="flex gap-4 flex-wrap">
    <!-- ZIP Code -->
    <app-text-input
      class="flex-1"
      label="{{ 'FORMS.ORGANIZATION.ZIP_CODE' | translate }}"
      ctrlId="formRegZipCode"
      data-testid="formRegZipCode"
      placeholder="{{ 'FORMS.ORGANIZATION.ZIP_CODE_PLACEHOLDER' | translate }}"
      required
      [ctrl]="orgForm.controls.mainAddressZipCode"></app-text-input>
    <!-- ZIP Code -->

    <!-- City  -->
    <app-text-input
      class="flex-1"
      label="{{ 'FORMS.ORGANIZATION.CITY' | translate }}"
      ctrlId="formRegCity"
      data-testid="formRegCity"
      placeholder="{{ 'FORMS.ORGANIZATION.CITY_PLACEHOLDER' | translate }}"
      required
      [ctrl]="orgForm.controls.mainAddressCity"></app-text-input>
    <!-- City  -->
  </div>

  <div class="flex gap-4 flex-wrap">
    <!-- Country  -->
    <app-text-input
      class="flex-1"
      label="{{ 'FORMS.ORGANIZATION.COUNTRY' | translate }}"
      ctrlId="formRegCountry"
      data-testid="formRegCountry"
      placeholder="{{ 'FORMS.ORGANIZATION.COUNTRY_PLACEHOLDER' | translate }}"
      required
      [ctrl]="orgForm.controls.mainAddressCountry"></app-text-input>
    <!-- Country  -->
  </div>

  <mat-checkbox
    id="formRegBillingDifferent"
    class="mb-2"
    data-testid="formRegBillingDifferent"
    [formControl]="orgForm.controls.billingAddressSameAsMain"
    ><div class="flex gap-2 items-center">
      <span class="text-sm">{{
        'FORMS.ORGANIZATION.BILLING_SAME_AS_MAIN' | translate
      }}</span>
    </div>
  </mat-checkbox>
</div>

<div
  *ngIf="!orgForm.controls.billingAddressSameAsMain.value"
  class="flex flex-col gap-4">
  <div class="flex gap-4 flex-wrap">
    <!-- Street -->
    <app-text-input
      class="flex-1"
      label="{{ 'FORMS.ORGANIZATION.STREET' | translate }}"
      ctrlId="formRegBillingStreet"
      data-testid="formRegBillingStreet"
      placeholder="{{ 'FORMS.ORGANIZATION.STREET_PLACEHOLDER' | translate }}"
      required
      [ctrl]="orgForm.controls.billingAddressStreet"></app-text-input>
    <!-- Street -->

    <!-- House No -->
    <app-text-input
      class="flex-1"
      label="{{ 'FORMS.ORGANIZATION.HOUSE_NO' | translate }}"
      ctrlId="formRegBillingHouseNo"
      data-testid="formRegBillingHouseNo"
      placeholder="{{ 'FORMS.ORGANIZATION.HOUSE_NO_PLACEHOLDER' | translate }}"
      required
      [ctrl]="orgForm.controls.billingAddressHouseNo"></app-text-input>
    <!-- House No -->
  </div>

  <div class="flex gap-4 flex-wrap">
    <!-- ZIP Code -->
    <app-text-input
      class="flex-1"
      label="{{ 'FORMS.ORGANIZATION.ZIP_CODE' | translate }}"
      ctrlId="formRegBillingZipCode"
      data-testid="formRegBillingZipCode"
      placeholder="{{ 'FORMS.ORGANIZATION.ZIP_CODE_PLACEHOLDER' | translate }}"
      required
      [ctrl]="orgForm.controls.billingAddressZipCode"></app-text-input>
    <!-- ZIP Code -->

    <!-- City  -->
    <app-text-input
      class="flex-1"
      label="{{ 'FORMS.ORGANIZATION.CITY' | translate }}"
      ctrlId="formRegBillingCity"
      data-testid="formRegBillingCity"
      placeholder="{{ 'FORMS.ORGANIZATION.CITY_PLACEHOLDER' | translate }}"
      required
      [ctrl]="orgForm.controls.billingAddressCity"></app-text-input>
    <!-- City  -->
  </div>

  <div class="flex gap-4 flex-wrap">
    <!-- Country  -->
    <app-text-input
      class="flex-1"
      label="{{ 'FORMS.ORGANIZATION.COUNTRY' | translate }}"
      ctrlId="formRegBillingCountry"
      data-testid="formRegBillingCountry"
      placeholder="{{ 'FORMS.ORGANIZATION.COUNTRY_PLACEHOLDER' | translate }}"
      required
      [ctrl]="orgForm.controls.billingAddressCountry"></app-text-input>
    <!-- Country  -->
  </div>
</div>

<div class="flex gap-4 flex-wrap">
  <!-- Description -->
  <app-text-area
    class="flex-1"
    label="{{ 'FORMS.ORGANIZATION.DESCRIPTION' | translate }}"
    ctrlId="formRegDescription"
    data-testid="formRegDescription"
    placeholder="{{ 'FORMS.ORGANIZATION.DESCRIPTION_PLACEHOLDER' | translate }}"
    required
    [ctrl]="orgForm.controls.description"></app-text-area>
</div>

<div class="flex flex-col gap-1">
  <div class="flex gap-4 flex-wrap mt-2">
    <!-- ID Type -->
    <div class="flex flex-col flex-1">
      <label class="w-full mb-2 text-sm">{{
        'FORMS.ORGANIZATION.LEGAL_ID_TYPE' | translate
      }}</label>
      <mat-form-field appearance="outline">
        <mat-select
          data-testid="formLegalIdTypeSelector"
          [formControl]="orgForm.controls.legalIdType">
          <mat-option *ngFor="let type of idTypes" [value]="type.value">
            {{ type.viewValueKey | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- ID Type -->

    <!-- ID Number -->
    <app-text-input
      class="flex-1"
      label="{{ 'FORMS.ORGANIZATION.LEGAL_ID_NUMBER' | translate }}"
      ctrlId="formRegIdNumber"
      data-testid="formRegIdNumber"
      required
      [placeholder]="
        orgForm.controls.legalIdType.value === 'TAX_ID'
          ? ('FORMS.ORGANIZATION.TAX_ID_PLACEHOLDER' | translate)
          : ('FORMS.ORGANIZATION.COMMERCE_REGISTER_PLACEHOLDER' | translate)
      "
      [ctrl]="orgForm.controls.legalId"></app-text-input>
    <!-- ID Number -->

    <!-- Commerce Register Location -->
    <app-text-input
      *ngIf="orgForm.controls.legalIdType.value === 'COMMERCE_REGISTER_INFO'"
      class="flex-1"
      label="{{ 'FORMS.ORGANIZATION.COMMERCE_REGISTER_LOCATION' | translate }}"
      ctrlId="formRegCommerceRegisterLocation"
      data-testid="formRegCommerceRegisterLocation"
      placeholder="{{
        'FORMS.ORGANIZATION.COMMERCE_REGISTER_LOCATION' | translate
      }}"
      required
      [ctrl]="orgForm.controls.commerceRegisterLocation"></app-text-input>
    <!-- Commerce Register Location -->
  </div>
</div>

<h3 class="wizard-step-title pb-6">
  {{ 'FORMS.ORGANIZATION.CONTACTS' | translate }}
</h3>

<div class="flex flex-col gap-4">
  <!-- Main Contact Form -->
  <div class="flex gap-4 flex-wrap">
    <h3 class="wizard-step-title">{{
      'FORMS.ORGANIZATION.MAIN_CONTACT' | translate
    }}</h3>
    <mat-icon
      fontIcon="info"
      [matTooltip]="'FORMS.ORGANIZATION.MAIN_CONTACT_TOOLTIP' | translate"
      matTooltipClass="text-sm"></mat-icon>
  </div>
  <div class="flex gap-4 flex-wrap">
    <!-- User First Name -->
    <app-text-input
      class="flex-1"
      label="{{ 'FORMS.ORGANIZATION.MAIN_FIRST_NAME' | translate }}"
      ctrlId="formRegMainFirstName"
      data-testid="formRegMainFirstName"
      placeholder="{{ 'FORMS.ORGANIZATION.MAIN_FIRST_NAME_PLACEHOLDER' | translate }}"
      required
      [ctrl]="orgForm.controls.mainContactFirstName"></app-text-input>
    <!-- User First Name -->

    <!-- User Last Name -->
    <app-text-input
      class="flex-1"
      label="{{ 'FORMS.ORGANIZATION.MAIN_LAST_NAME' | translate }}"
      ctrlId="formRegMainLastName"
      data-testid="formRegMainLastName"
      placeholder="{{ 'FORMS.ORGANIZATION.MAIN_LAST_NAME_PLACEHOLDER' | translate }}"
      required
      [ctrl]="orgForm.controls.mainContactLastName"></app-text-input>
    <!-- User Last Name -->
  </div>

  <div class="flex gap-4 flex-wrap">
    <!-- User PhoneNumber -->
    <app-text-input
      class="flex-1"
      label="{{ 'FORMS.ORGANIZATION.PHONE_NUMBER' | translate }}"
      ctrlId="formRegMainPhoneNumber"
      data-testid="formRegMainPhoneNumber"
      placeholder="{{ 'FORMS.ORGANIZATION.PHONE_PLACEHOLDER' | translate }}"
      required
      [ctrl]="orgForm.controls.mainContactPhoneNumber"></app-text-input>

    <!-- User PhoneNumber -->

    <!-- User Email -->
    <app-text-input
      class="flex-1"
      label="{{ 'COMMON.EMAIL' | translate }}"
      ctrlId="formRegMainEmail"
      data-testid="formRegMainEmail"
      placeholder="{{ 'FORMS.ORGANIZATION.EMAIL_PLACEHOLDER' | translate }}"
      required
      [ctrl]="orgForm.controls.mainContactEmail"></app-text-input>
    <!-- User Email -->
  </div>
</div>
<!-- Main Contact Form -->

<!-- Technical Contact Form -->
<div class="flex flex-col gap-4 mt-4">
  <div class="flex gap-4 flex-wrap">
    <h3 class="wizard-step-title">{{
      'FORMS.ORGANIZATION.TECHNICAL_CONTACT' | translate
    }}</h3>
    <mat-icon
      fontIcon="info"
      [matTooltip]="'FORMS.ORGANIZATION.TECHNICAL_CONTACT_TOOLTIP' | translate"
      matTooltipClass="text-sm"></mat-icon>
  </div>
  <mat-checkbox
    id="formRegMcSameAsTc"
    class="mb-2"
    data-testid="formRegMcSameAsTc"
    [formControl]="orgForm.controls.technicalContactSameAsMain"
    ><div class="flex gap-2 items-center">
      <span class="text-sm">{{
        'FORMS.ORGANIZATION.SAME_AS_MAIN_CONTACT' | translate
      }}</span>
    </div>
  </mat-checkbox>

  <ng-container *ngIf="!orgForm.controls.technicalContactSameAsMain.value">
    <div class="flex gap-4 flex-wrap">
      <!-- User First Name -->
      <app-text-input
        class="flex-1"
        label="{{ 'FORMS.ORGANIZATION.TECHNICAL_FIRST_NAME' | translate }}"
        ctrlId="formRegTechnicalFirstName"
        data-testid="formRegTechnicalFirstName"
        placeholder="{{ 'FORMS.ORGANIZATION.TECHNICAL_FIRST_NAME_PLACEHOLDER' | translate }}"></app-text-input>
      <!-- User First Name -->

      <!-- User Last Name -->
      <app-text-input
        class="flex-1"
        label="{{ 'FORMS.ORGANIZATION.TECHNICAL_LAST_NAME' | translate }}"
        ctrlId="formRegTechnicalLastName"
        data-testid="formRegTechnicalLastName"
        placeholder="{{ 'FORMS.ORGANIZATION.TECHNICAL_LAST_NAME_PLACEHOLDER' | translate }}"></app-text-input>
      <!-- User Last Name -->
    </div>

    <div class="flex gap-4 flex-wrap">
      <!-- User PhoneNumber -->
      <app-text-input
        class="flex-1"
        label="{{ 'FORMS.ORGANIZATION.PHONE_NUMBER' | translate }}"
        ctrlId="formRegTechnicalPhoneNumber"
        data-testid="formRegTechnicalPhoneNumber"
        placeholder="{{ 'FORMS.ORGANIZATION.PHONE_PLACEHOLDER' | translate }}"
        required
        [ctrl]="orgForm.controls.technicalContactPhoneNumber"></app-text-input>
      <!-- User PhoneNumber -->

      <!-- User Email -->
      <app-text-input
        class="flex-1"
        label="{{ 'COMMON.EMAIL' | translate }}"
        ctrlId="formRegTechnicalEmail"
        data-testid="formRegTechnicalEmail"
        placeholder="{{ 'FORMS.ORGANIZATION.EMAIL_PLACEHOLDER' | translate }}"
        required
        [ctrl]="orgForm.controls.technicalContactEmail"></app-text-input>
      <!-- User Email -->
    </div>
  </ng-container>
</div>
<!-- Technical Contact Form -->
