<div class="flex gap-4 flex-wrap">
  <!-- Website -->
  <app-text-input
    class="flex-1"
    label="{{ 'FORMS.ORGANIZATION.WEBSITE' | translate }}"
    ctrlId="formEditWebsite"
    data-testid="formEditWebsite"
    placeholder="{{ 'FORMS.ORGANIZATION.WEBSITE_PLACEHOLDER' | translate }}"
    required
    [ctrl]="orgForm.controls.website"></app-text-input>
</div>

<div class="flex gap-4 flex-wrap">
  <!-- Business Unit -->
  <app-text-input
    class="flex-1"
    label="{{ 'FORMS.ORGANIZATION.BUSINESS_UNIT' | translate }}"
    ctrlId="formEditBusinessUnit"
    data-testid="formEditBusinessUnit"
    placeholder="{{ 'FORMS.ORGANIZATION.BUSINESS_UNIT_PLACEHOLDER' | translate }}"
    required
    [ctrl]="orgForm.controls.businessUnit"></app-text-input>
</div>

<div class="flex gap-4 flex-wrap">
  <app-industry-select
    class="flex-1"
    required
    [label]="'FORMS.INDUSTRY.LABEL' | translate"
    [ctrl]="orgForm.controls.industry"></app-industry-select>
</div>

<div class="flex flex-col">
  <app-text-area
    class="flex-1"
    label="{{ 'FORMS.ORGANIZATION.MAIN_ADDRESS' | translate }}"
    placeholder="{{ 'FORMS.ORGANIZATION.MAIN_ADDRESS_PLACEHOLDER' | translate }}"
    ctrlId="formEditMainAddress"
    data-testid="formEditMainAddress"
    required
    [ctrl]="orgForm.controls.mainAddress"></app-text-area>

  <mat-checkbox
    id="formEditBillingDifferent"
    class="mb-2"
    [formControl]="orgForm.controls.billingAddressSameAsMain"
    ><div class="flex gap-2 items-center">
      <span class="text-sm">{{
        'FORMS.ORGANIZATION.BILLING_SAME_AS_MAIN' | translate
      }}</span>
    </div>
  </mat-checkbox>
</div>

<div
  *ngIf="!orgForm.controls.billingAddressSameAsMain.value"
  class="flex flex-col gap-4">
  <app-text-area
    class="flex-1"
    label="{{ 'FORMS.ORGANIZATION.BILLING_ADDRESS' | translate }}"
    placeholder="{{ 'FORMS.ORGANIZATION.BILLING_ADDRESS_PLACEHOLDER' | translate }}"
    ctrlId="formEditBillingAddress"
    data-testid="formEditBillingAddress"
    required
    [ctrl]="orgForm.controls.billingAddress"></app-text-area>
</div>

<div class="flex gap-4 flex-wrap">
  <!-- Description -->
  <app-text-area
    class="flex-1"
    label="{{ 'FORMS.ORGANIZATION.DESCRIPTION' | translate }}"
    ctrlId="formEditOrganizationDescription"
    data-testid="formEditOrganizationDescription"
    placeholder="{{ 'FORMS.ORGANIZATION.DESCRIPTION_PLACEHOLDER' | translate }}"
    required
    [ctrl]="orgForm.controls.description"></app-text-area>
</div>

<h3 class="wizard-step-title pb-6">
  {{ 'FORMS.ORGANIZATION.CONTACTS' | translate }}
</h3>

<div class="flex flex-col gap-4">
  <!-- Main Contact Form -->
  <div class="flex gap-4 flex-wrap">
    <h3 class="wizard-step-title">
      {{ 'FORMS.ORGANIZATION.MAIN_CONTACT' | translate }}
    </h3>
    <mat-icon
      fontIcon="info"
      matTooltip="{{ 'FORMS.ORGANIZATION.MAIN_CONTACT_TOOLTIP' | translate }}"
      matTooltipClass="text-sm"></mat-icon>
  </div>

  <!-- User Full Name -->
  <app-text-input
    class="flex-1"
    label="{{ 'FORMS.ORGANIZATION.MAIN_FULL_NAME' | translate }}"
    ctrlId="formEditMainName"
    data-testid="formEditMainName"
    placeholder="{{ 'FORMS.ORGANIZATION.MAIN_FULL_NAME_PLACEHOLDER' | translate }}"
    required
    [ctrl]="orgForm.controls.mainContactName"></app-text-input>

  <div class="flex gap-4 flex-wrap">
    <!-- User PhoneNumber -->
    <app-text-input
      class="flex-1"
      label="{{ 'FORMS.ORGANIZATION.PHONE_NUMBER' | translate }}"
      ctrlId="formEditMainPhoneNumber"
      data-testid="formEditMainPhoneNumber"
      placeholder="{{ 'FORMS.ORGANIZATION.PHONE_PLACEHOLDER' | translate }}"
      required
      [ctrl]="orgForm.controls.mainContactPhoneNumber"></app-text-input>

    <!-- User Email -->
    <app-text-input
      class="flex-1"
      label="{{ 'COMMON.EMAIL' | translate }}"
      ctrlId="formEditMainEmail"
      data-testid="formEditMainEmail"
      placeholder="{{ 'FORMS.ORGANIZATION.EMAIL_PLACEHOLDER' | translate }}"
      required
      [ctrl]="orgForm.controls.mainContactEmail"></app-text-input>
  </div>
</div>

<!-- Technical Contact Form -->
<div class="flex flex-col gap-4">
  <div class="flex gap-4 flex-wrap">
    <h3 class="wizard-step-title">
      {{ 'FORMS.ORGANIZATION.TECHNICAL_CONTACT' | translate }}
    </h3>
    <mat-icon
      fontIcon="info"
      matTooltip="{{ 'FORMS.ORGANIZATION.TECHNICAL_CONTACT_TOOLTIP' | translate }}"
      matTooltipClass="text-sm"></mat-icon>
  </div>
  <mat-checkbox
    id="formEditMcSameAsTc"
    class="mb-2"
    [formControl]="orgForm.controls.technicalContactSameAsMain"
    ><div class="flex gap-2 items-center">
      <span class="text-sm">{{
        'FORMS.ORGANIZATION.SAME_AS_MAIN_CONTACT' | translate
      }}</span>
    </div>
  </mat-checkbox>

  <ng-container *ngIf="!orgForm.controls.technicalContactSameAsMain.value">
    <!-- User Full Name -->
    <app-text-input
      class="flex-1"
      label="{{ 'FORMS.ORGANIZATION.TECHNICAL_FULL_NAME' | translate }}"
      ctrlId="formEditTechnicalName"
      data-testid="formEditTechnicalName"
      placeholder="{{ 'FORMS.ORGANIZATION.TECHNICAL_FULL_NAME_PLACEHOLDER' | translate }}"
      required
      [ctrl]="orgForm.controls.technicalContactName"></app-text-input>

    <div class="flex gap-4 flex-wrap">
      <!-- User PhoneNumber -->
      <app-text-input
        class="flex-1"
        label="{{ 'FORMS.ORGANIZATION.PHONE_NUMBER' | translate }}"
        ctrlId="formEditTechnicalPhoneNumber"
        data-testid="formEditTechnicalPhoneNumber"
        placeholder="{{ 'FORMS.ORGANIZATION.PHONE_PLACEHOLDER' | translate }}"
        required
        [ctrl]="orgForm.controls.technicalContactPhoneNumber"></app-text-input>

      <!-- User Email -->
      <app-text-input
        class="flex-1"
        label="{{ 'COMMON.EMAIL' | translate }}"
        ctrlId="formEditTechnicalEmail"
        data-testid="formEditTechnicalEmail"
        placeholder="{{ 'FORMS.ORGANIZATION.EMAIL_PLACEHOLDER' | translate }}"
        required
        [ctrl]="orgForm.controls.technicalContactEmail"></app-text-input>
    </div>
  </ng-container>
</div>
