<div class="flex justify-center items-center">
  <mat-stepper class="w-full lg:w-2/3" labelPosition="bottom" #stepper linear>
    <mat-step
      color="accent"
      [editable]="state.state === 'editing' || state.state === 'error'"
      [completed]="state.state === 'success' || form.componentTab.valid">
      <form class="flex flex-col w-full justify-center">
        <ng-template matStepLabel>{{
          'PAGES.COMPONENT_REGISTRATION.ADD_COMPONENT_DETAILS' | translate
        }}</ng-template>
        <div
          class="select-none flex flex-col justify-center items-center my-10 w-2/3 mx-auto">
          <app-text-input
            class="w-full"
            label="{{ 'PAGES.COMPONENT_REGISTRATION.COMPONENT_NAME' | translate }}"
            ctrlId="formRegCcName"
            placeholder="{{
              'PAGES.COMPONENT_REGISTRATION.COMPONENT_NAME_PLACEHOLDER'
                | translate
            }}"
            required
            [ctrl]="form.componentTab.controls.name"></app-text-input>

          <app-text-input
            class="w-full"
            label="{{
              'PAGES.COMPONENT_REGISTRATION.COMPONENT_LOCATION' | translate
            }}"
            ctrlId="formRegCcLocation"
            placeholder="{{
              'PAGES.COMPONENT_REGISTRATION.CONNECTOR_LOCATION_PLACEHOLDER'
                | translate
            }}"
            required
            [ctrl]="form.componentTab.controls.location"></app-text-input>

          <div class="w-full justify-start my-4">
            <mat-slide-toggle
              name="useCustomUrls"
              [formControl]="form.componentTab.controls.useCustomUrls"
              >{{
                'PAGES.COMPONENT_REGISTRATION.OVERWRITE_DEFAULT_URLS' | translate
              }}
            </mat-slide-toggle>
          </div>

          <app-text-input
            *ngIf="!useCustomUrls"
            class="w-full"
            label="{{
              'PAGES.COMPONENT_REGISTRATION.COMPONENT_BASE_URL' | translate
            }}"
            ctrlId="formRegCcConBaseUrl"
            placeholder="{{
              'PAGES.COMPONENT_REGISTRATION.COMPONENT_BASE_URL_PLACEHOLDER'
                | translate
            }}"
            required
            [ctrl]="form.componentTab.controls.baseUrl"></app-text-input>

          <app-text-input
            *ngIf="useCustomUrls"
            class="w-full"
            label="{{
              'PAGES.COMPONENT_REGISTRATION.COMPONENT_FRONTEND_URL' | translate
            }}"
            ctrlId="formRegCcFrontendUrl"
            placeholder="{{
              'PAGES.COMPONENT_REGISTRATION.COMPONENT_BASE_URL_PLACEHOLDER'
                | translate
            }}"
            required
            [ctrl]="form.componentTab.controls.frontendUrl"></app-text-input>

          <app-text-input
            *ngIf="useCustomUrls"
            class="w-full"
            label="{{
              'PAGES.COMPONENT_REGISTRATION.COMPONENT_ENDPOINT_URL' | translate
            }}"
            ctrlId="formRegCcEndpointUrl"
            required
            [placeholder]="
              'PAGES.COMPONENT_REGISTRATION.COMPONENT_BASE_URL_PLACEHOLDER'
                | translate
            "
            [ctrl]="form.componentTab.controls.endpointUrl"></app-text-input>
        </div>

        <div
          class="border-t border-gray-900/10 pt-6 mt-6 flex items-center justify-end gap-x-6">
          <button
            class="btn-accent-outline"
            type="button"
            [routerLink]="exitLink">
            {{ 'COMMON.CANCEL' | translate }}
          </button>

          <button
            class="btn-accent"
            [disabledBtn]="!form.componentTab.valid"
            (click)="stepper.next()">
            {{ 'COMMON.NEXT' | translate }}
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step
      color="accent"
      [editable]="state.state === 'editing' || state.state === 'error'"
      [completed]="state.state === 'success'">
      <ng-template matStepLabel>{{
        'PAGES.COMPONENT_REGISTRATION.GENERATE_CERTIFICATE' | translate
      }}</ng-template>

      <div class="flex justify-center items-center">
        <app-certificate-input-form
          class="w-full"
          [group]="form.certificateTab"
          [organizationLegalName]="userInfo.organizationName"
          [commonName]="form.componentTab.controls.endpointUrl.value"
          [location]="
            form.componentTab.controls.location.value
          "></app-certificate-input-form>
      </div>

      <div
        class="border-t border-gray-900/10 pt-6 mt-6 flex items-center justify-end gap-x-6">
        <button class="btn-accent-outline" type="button" matStepperPrevious>
          {{ 'COMMON.BACK' | translate }}
        </button>
        <button
          class="btn-accent"
          [disabledBtn]="
            state.state === 'submitting' ||
            !form.componentTab.valid ||
            !form.certificateTab.valid
          "
          (click)="registerComponent()">
          {{ createActionName }}
        </button>
      </div>
    </mat-step>

    <mat-step color="accent" [editable]="false">
      <ng-template matStepLabel>{{
        'PAGES.COMPONENT_REGISTRATION.SETUP_CENTRAL_COMPONENT' | translate
      }}</ng-template>
      <div class="my-12 flex flex-col justify-center items-center text-center">
        <h2 class="wizard-end-title">
          {{ 'PAGES.COMPONENT_REGISTRATION.SETUP_COMPONENT_HEADING' | translate }}
        </h2>
        <p class="wizard-end-prose">
          {{ 'PAGES.COMPONENT_REGISTRATION.SETUP_COMPONENT_MESSAGE' | translate }}
          <br />
          {{ 'PAGES.COMPONENT_REGISTRATION.PARTICIPANT_ID' | translate }}
          <strong>{{ state.createdCentralComponentId }}</strong>
          <button
            mat-icon-button
            aria-label="copy button with"
            (click)="copyToClipboard()">
            <mat-icon>content_copy</mat-icon>
          </button>
        </p>
        <button class="btn-accent" [routerLink]="exitLink">
          {{ 'COMMON.FINISH' | translate }}
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
