<div class="flex gap-4 flex-wrap">
  <!-- Name -->
  <app-text-input
    class="flex-1"
    label="{{ 'FORMS.ORGANIZATION.LEGAL_NAME' | translate }}"
    ctrlId="formEditLegalName"
    placeholder="{{ 'FORMS.ORGANIZATION.LEGAL_NAME_PLACEHOLDER' | translate }}"
    required
    [ctrl]="authorityOrgForm.controls.legalName"></app-text-input>
</div>

<div class="flex flex-col gap-1">
  <div class="flex gap-4 flex-wrap">
    <!-- ID Type -->
    <div class="flex flex-col flex-1">
      <label class="w-full mb-2 text-sm">{{
        'FORMS.ORGANIZATION.LEGAL_ID_TYPE' | translate
      }}</label>
      <mat-form-field appearance="outline">
        <mat-select [formControl]="authorityOrgForm.controls.legalIdType">
          <mat-option *ngFor="let type of idTypes" [value]="type.value">
            {{ type.viewValueKey | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- ID Type -->

    <!-- ID Number -->
    <app-text-input
      class="flex-1"
      label="{{ 'FORMS.ORGANIZATION.LEGAL_ID_NUMBER' | translate }}"
      ctrlId="formRegIdNumber"
      required
      [placeholder]="
        authorityOrgForm.controls.legalIdType.value === 'TAX_ID'
          ? ('FORMS.ORGANIZATION.TAX_ID_PLACEHOLDER' | translate)
          : ('FORMS.ORGANIZATION.COMMERCE_REGISTER_PLACEHOLDER' | translate)
      "
      [ctrl]="authorityOrgForm.controls.legalId"></app-text-input>
    <!-- ID Number -->

    <!-- Commerce Register Location -->
    <app-text-input
      *ngIf="
        authorityOrgForm.controls.legalIdType.value === 'COMMERCE_REGISTER_INFO'
      "
      class="flex-1"
      label="{{ 'FORMS.ORGANIZATION.COMMERCE_REGISTER_LOCATION' | translate }}"
      ctrlId="formRegCommerceRegisterLocation"
      placeholder="{{
        'FORMS.ORGANIZATION.COMMERCE_REGISTER_LOCATION' | translate
      }}"
      required
      [ctrl]="
        authorityOrgForm.controls.commerceRegisterLocation
      "></app-text-input>
    <!-- Commerce Register Location -->
  </div>
</div>

<app-organization-edit-form [orgForm]="orgForm"></app-organization-edit-form>
