<form [formGroup]="userForm">
  <div class="flex gap-4 flex-wrap">
    <!-- User First Name -->
    <app-text-input
      class="flex-1"
      label="{{ 'FORMS.USER.FIRST_NAME' | translate }}"
      ctrlId="formEditFirstName"
      data-testid="formEditFirstName"
      placeholder="{{ 'FORMS.USER.FIRST_NAME_PLACEHOLDER' | translate }}"
      required
      [ctrl]="userForm.controls.firstName"></app-text-input>

    <!-- User Last Name -->
    <app-text-input
      class="flex-1"
      label="{{ 'FORMS.USER.LAST_NAME' | translate }}"
      ctrlId="formEditLastName"
      placeholder="{{ 'FORMS.USER.LAST_NAME_PLACEHOLDER' | translate }}"
      required
      [ctrl]="userForm.controls.lastName"></app-text-input>
  </div>

  <div class="flex gap-4 flex-wrap">
    <!-- User Job Title -->
    <app-text-input
      class="flex-1"
      label="{{ 'FORMS.USER.JOB_TITLE' | translate }}"
      ctrlId="formEditJobTitle"
      placeholder="{{ 'FORMS.USER.JOB_TITLE_PLACEHOLDER' | translate }}"
      required
      [ctrl]="userForm.controls.jobTitle"></app-text-input>

    <!-- User E-Mail -->
    <app-text-input
      class="flex-1"
      label="{{ 'FORMS.USER.EMAIL' | translate }}"
      ctrlId="formEditEmail"
      placeholder="{{ 'FORMS.ORGANIZATION.EMAIL_PLACEHOLDER' | translate }}"
      required
      [ctrl]="userForm.controls.email"></app-text-input>

    <!-- User PhoneNumber -->
    <app-text-input
      class="flex-1"
      label="{{ 'FORMS.ORGANIZATION.PHONE_NUMBER' | translate }}"
      ctrlId="formEditPhoneNumber"
      placeholder="{{ 'FORMS.ORGANIZATION.PHONE_PLACEHOLDER' | translate }}"
      required
      [ctrl]="userForm.controls.phoneNumber"></app-text-input>
  </div>
</form>
