<div class="flex justify-center items-center">
  <mat-stepper
    class="mt-4 w-full lg:w-2/3"
    labelPosition="bottom"
    #stepper
    linear>
    <mat-step
      color="accent"
      [editable]="state.state === 'editing' || state.state === 'error'"
      [completed]="state.state === 'success' || form.connectorTab.valid">
      <form class="flex flex-col w-full justify-center">
        <ng-template matStepLabel>{{
          'PAGES.COMPONENT_REGISTRATION.ADD_CONNECTOR_DETAILS' | translate
        }}</ng-template>
        <div
          class="flex flex-col justify-center items-center my-10 w-2/3 mx-auto">
          <div class="text-lg text-semibold mb-2 whitespace-nowrap">
            {{ 'PAGES.COMPONENT_REGISTRATION.EXPECTED_CONFIG' | translate }}
          </div>
          <div
            class="relative p-4 bg-gray-100 max-w-5xl overflow-hidden w-full mb-3">
            <div class="absolute top-0 right-0">
              <button
                mat-icon-button
                aria-label="copy button with"
                (click)="copyInitialConnectorConfig()">
                <mat-icon>content_copy</mat-icon>
              </button>
            </div>

            <code
              class="block text-left text-sm text-gray-500 whitespace-pre overflow-y-auto break-words p-3"
              >{{ getInitialConnectorConfig() }}</code
            >
          </div>

          <div class="w-full justify-start my-4">
            <mat-slide-toggle
              name="useJwks"
              [formControl]="form.connectorTab.controls.useJwks"
              >{{
                'PAGES.COMPONENT_REGISTRATION.USE_JWKS_TOGGLE' | translate
              }}
            </mat-slide-toggle>
          </div>

          <div class="w-full justify-start my-4">
            <mat-slide-toggle
              name="useCustomUrls"
              [formControl]="form.connectorTab.controls.useCustomUrls"
              >{{
                'PAGES.COMPONENT_REGISTRATION.OVERWRITE_DEFAULT_URLS' | translate
              }}
            </mat-slide-toggle>
          </div>

          <app-connector-url-input
            *ngIf="!useCustomUrls"
            class="w-full"
            label="{{
              'PAGES.COMPONENT_REGISTRATION.CONNECTOR_BASE_URL' | translate
            }}"
            ctrlId="formRegOConBaseUrl"
            required
            [ctrl]="
              form.connectorTab.controls.baseUrl
            "></app-connector-url-input>

          <app-connector-url-input
            *ngIf="useCustomUrls"
            class="w-full"
            label="{{
              'PAGES.COMPONENT_REGISTRATION.CONNECTOR_FRONTEND_URL' | translate
            }}"
            ctrlId="formRegOConFrontendUrl"
            required
            [ctrl]="
              form.connectorTab.controls.frontendUrl
            "></app-connector-url-input>

          <app-connector-url-input
            *ngIf="useCustomUrls"
            class="w-full"
            label="{{
              'PAGES.COMPONENT_REGISTRATION.CONNECTOR_ENDPOINT_URL' | translate
            }}"
            ctrlId="formRegOConEndpointUrl"
            required
            [urlSuffix]="edcConfig.defaultPaths.dspApi"
            [ctrl]="
              form.connectorTab.controls.endpointUrl
            "></app-connector-url-input>

          <app-connector-url-input
            *ngIf="useCustomUrls"
            class="w-full"
            label="{{
              'PAGES.COMPONENT_REGISTRATION.CONNECTOR_MANAGEMENT_URL' | translate
            }}"
            ctrlId="formRegOConManagementUrl"
            required
            [urlSuffix]="edcConfig.defaultPaths.managementApi"
            [ctrl]="
              form.connectorTab.controls.managementUrl
            "></app-connector-url-input>

          <app-connector-url-input
            *ngIf="useCustomUrls && form.connectorTab.controls.useJwks.value"
            class="w-full mt-2.5"
            label="{{
              'PAGES.COMPONENT_REGISTRATION.CONNECTOR_JWKS_URL' | translate
            }}"
            ctrlId="formRegOConJwksUrl"
            [urlSuffix]="edcConfig.defaultPaths.jwksUrl"
            [ctrl]="form.connectorTab.controls.jwksUrl"
            [required]="
              form.connectorTab.controls.useJwks.value
            "></app-connector-url-input>
        </div>

        <div
          class="border-t border-gray-900/10 pt-6 mt-6 flex items-center justify-end gap-x-6">
          <button
            class="btn-accent-outline"
            type="button"
            [routerLink]="exitLink">
            {{ 'COMMON.CANCEL' | translate }}
          </button>

          <button
            *ngIf="!form.connectorTab.controls.useJwks.value"
            class="btn-accent"
            [disabledBtn]="!form.connectorTab.valid"
            (click)="stepper.next()">
            {{ 'COMMON.NEXT' | translate }}
          </button>

          <button
            *ngIf="form.connectorTab.controls.useJwks.value"
            class="btn-accent"
            [disabledBtn]="!form.connectorTab.valid"
            (click)="registerConnector('jwks')">
            {{ 'PAGES.COMPONENT_REGISTRATION.PROVIDE_CONNECTOR' | translate }}
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step
      color="accent"
      [editable]="state.state === 'editing' || state.state === 'error'"
      [completed]="state.state === 'success'">
      <ng-template matStepLabel>{{
        'PAGES.COMPONENT_REGISTRATION.GENERATE_CERTIFICATE' | translate
      }}</ng-template>

      <div class="flex justify-center items-center">
        <app-certificate-input-form
          class="w-full"
          [group]="form.certificateTab"
          [organizationLegalName]="state.connectorData?.organizationName ?? ''"
          [commonName]="form.connectorTab.controls.endpointUrl.value"
          [location]="
            state.connectorData?.location ?? ''
          "></app-certificate-input-form>
      </div>

      <div
        class="border-t border-gray-900/10 pt-6 mt-6 flex items-center justify-end gap-x-6">
        <button class="btn-accent-outline" type="button" matStepperPrevious>
          {{ 'COMMON.BACK' | translate }}
        </button>
        <button
          class="btn-accent"
          [disabledBtn]="
            state.state === 'submitting' ||
            !form.connectorTab.valid ||
            !form.certificateTab.valid
          "
          (click)="registerConnector('certificate')">
          {{ createActionName }}
        </button>
      </div>
    </mat-step>

    <mat-step color="accent" [editable]="false">
      <ng-template matStepLabel>{{
        'PAGES.COMPONENT_REGISTRATION.SETUP_CONNECTOR' | translate
      }}</ng-template>

      <app-connector-registering-success-message-page
        [connectorConfig]="
          form.value.connectorTab.useJwks
            ? getInitialConnectorConfig()
            : getFinalConnectorConfig()
        "></app-connector-registering-success-message-page>

      <div
        class="border-t border-gray-900/10 pt-6 mt-6 flex items-center justify-end gap-x-6">
        <button class="btn-accent" [routerLink]="exitLink">
          {{ 'COMMON.FINISH' | translate }}
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
