<div class="flex justify-center items-center">
  <mat-stepper
    class="mt-10 w-full lg:w-2/3"
    labelPosition="bottom"
    #stepper
    linear>
    <!-- connector details Step-->
    <mat-step
      color="accent"
      [editable]="state.state === 'editing' || state.state === 'error'"
      [completed]="state.state === 'success' || form.connectorTab.valid">
      <form class="flex flex-col w-full justify-center">
        <ng-template matStepLabel>{{
          'PAGES.COMPONENT_REGISTRATION.ADD_CONNECTOR_DETAILS' | translate
        }}</ng-template>
        <div
          class="select-none flex flex-col justify-center items-center my-10 w-2/3 mx-auto">
          <app-text-input
            class="w-full"
            label="{{ 'PAGES.COMPONENT_REGISTRATION.CONNECTOR_NAME' | translate }}"
            ctrlId="formRegOConName"
            placeholder="{{
              'PAGES.COMPONENT_REGISTRATION.CONNECTOR_NAME_PLACEHOLDER'
                | translate
            }}"
            required
            [ctrl]="form.connectorTab.controls.name"></app-text-input>

          <app-text-input
            class="w-full"
            label="{{
              'PAGES.COMPONENT_REGISTRATION.CONNECTOR_LOCATION' | translate
            }}"
            ctrlId="formRegOConLocation"
            placeholder="{{
              'PAGES.COMPONENT_REGISTRATION.CONNECTOR_LOCATION_PLACEHOLDER'
                | translate
            }}"
            required
            [ctrl]="form.connectorTab.controls.location"></app-text-input>

          <div class="w-full justify-start my-4">
            <mat-slide-toggle
              name="useCustomUrls"
              [formControl]="form.connectorTab.controls.useCustomUrls"
              >{{
                'PAGES.COMPONENT_REGISTRATION.OVERWRITE_DEFAULT_URLS' | translate
              }}
            </mat-slide-toggle>
          </div>

          <app-connector-url-input
            *ngIf="!useCustomUrls"
            class="w-full"
            label="{{
              'PAGES.COMPONENT_REGISTRATION.CONNECTOR_BASE_URL' | translate
            }}"
            ctrlId="formRegOConBaseUrl"
            required
            [ctrl]="
              form.connectorTab.controls.baseUrl
            "></app-connector-url-input>

          <app-connector-url-input
            *ngIf="useCustomUrls"
            class="w-full"
            label="{{
              'PAGES.COMPONENT_REGISTRATION.CONNECTOR_FRONTEND_URL' | translate
            }}"
            ctrlId="formRegOConFrontendUrl"
            required
            [ctrl]="
              form.connectorTab.controls.frontendUrl
            "></app-connector-url-input>

          <app-connector-url-input
            *ngIf="useCustomUrls"
            class="w-full"
            label="{{
              'PAGES.COMPONENT_REGISTRATION.CONNECTOR_ENDPOINT_URL' | translate
            }}"
            ctrlId="formRegOConEndpointUrl"
            required
            [urlSuffix]="edcConfig.defaultPaths.dspApi"
            [ctrl]="
              form.connectorTab.controls.endpointUrl
            "></app-connector-url-input>

          <app-connector-url-input
            *ngIf="useCustomUrls"
            class="w-full"
            label="{{
              'PAGES.COMPONENT_REGISTRATION.CONNECTOR_MANAGEMENT_URL' | translate
            }}"
            ctrlId="formRegOConManagementUrl"
            required
            [urlSuffix]="edcConfig.defaultPaths.managementApi"
            [ctrl]="
              form.connectorTab.controls.managementUrl
            "></app-connector-url-input>
        </div>

        <div
          class="border-t border-gray-900/10 pt-6 mt-6 flex items-center justify-end gap-x-6">
          <button
            class="btn-accent-outline"
            type="button"
            [routerLink]="backLink">
            {{ 'COMMON.BACK' | translate }}
          </button>

          <button
            class="btn-accent"
            [disabledBtn]="!form.connectorTab.valid"
            (click)="stepper.next()">
            {{ 'COMMON.NEXT' | translate }}
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step
      color="accent"
      [editable]="state.state === 'editing' || state.state === 'error'"
      [completed]="state.state === 'success'">
      <ng-template matStepLabel>{{
        'PAGES.COMPONENT_REGISTRATION.GENERATE_CERTIFICATE' | translate
      }}</ng-template>

      <div class="flex justify-center items-center">
        <app-certificate-input-form
          class="w-full"
          [group]="form.certificateTab"
          [organizationLegalName]="userInfo.organizationName"
          [commonName]="form.connectorTab.controls.endpointUrl.value"
          [location]="
            form.connectorTab.controls.location.value
          "></app-certificate-input-form>
      </div>

      <div
        class="border-t border-gray-900/10 pt-6 mt-6 flex items-center justify-end gap-x-6">
        <button class="btn-accent-outline" type="button" matStepperPrevious>
          {{ 'COMMON.BACK' | translate }}
        </button>
        <button
          class="btn-accent"
          [disabledBtn]="
            state.state === 'submitting' ||
            !form.connectorTab.valid ||
            !form.certificateTab.valid
          "
          (click)="registerConnector()">
          {{ createActionName }}
        </button>
      </div>
    </mat-step>

    <mat-step color="accent" [editable]="false">
      <ng-template matStepLabel>{{
        'PAGES.COMPONENT_REGISTRATION.SETUP_CONNECTOR' | translate
      }}</ng-template>

      <app-connector-registering-success-message-page
        [connectorConfig]="
          getConnectorConfig()
        "></app-connector-registering-success-message-page>

      <div
        class="border-t border-gray-900/10 pt-6 mt-6 flex items-center justify-end gap-x-6">
        <button class="btn-accent" [routerLink]="exitLink">
          {{ 'COMMON.FINISH' | translate }}
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>

<app-footer-for-full-page></app-footer-for-full-page>
