<mat-dialog-content class="p-4 !flex flex-col">
  <p class="confirmation-dialog-title">
    {{ 'DIALOGS.DELETE_USER.TITLE' | translate }}
  </p>

  <app-loading-element
    *ngIf="modalData.isLoading"
    class="flex-1 px-4 py-3"></app-loading-element>

  <app-error-element
    *ngIf="modalData.isError"
    class="flex-1 px-4 py-3"
    [errorMessage]="modalData.error.failureMessage"></app-error-element>

  <div *ngIf="modalData.isReady" class="px-4 py-3 confirmation-dialog-prose">
    <div *ngIf="!modalData.data.canBeDeleted" class="space-y-1">
      <p>{{ 'DIALOGS.DELETE_USER.CANNOT_DELETE' | translate }}</p>
    </div>
    <div
      *ngIf="modalData.data.canBeDeleted && isLastParticipantAdmin"
      class="space-y-1">
      <p>
        {{ 'DIALOGS.DELETE_USER.LAST_ADMIN_INTRO' | translate }}
        <span class="italic">{{ data.userOrganizationName }}</span>.
      </p>
      <p>{{ 'DIALOGS.DELETE_USER.LAST_ADMIN_WARNING' | translate }}</p>
      <p>{{ 'DIALOGS.DELETE_USER.LAST_ADMIN_CONFIRM' | translate }}</p>
    </div>
    <div *ngIf="modalData.data.canBeDeleted && !isLastParticipantAdmin">
      <div *ngIf="isOrganizationCreator" class="space-y-1">
        <p>
          {{ 'DIALOGS.DELETE_USER.CREATOR_INTRO' | translate }}
          <span class="italic">{{ data.userOrganizationName }}</span>.
        </p>
        <p>{{ 'DIALOGS.DELETE_USER.SELECT_SUCCESSOR' | translate }}</p>
        <form class="!mt-5" [formGroup]="deleteOrganizationCreatorForm">
          <label class="w-full mb-2 text-sm">{{
            'DIALOGS.DELETE_USER.SUCCESSOR' | translate
          }}</label>
          <mat-form-field
            class="w-full text-sm"
            appearance="outline"
            color="accent">
            <mat-select
              [placeholder]="
                'DIALOGS.DELETE_USER.SELECT_SUCCESSOR_PLACEHOLDER' | translate
              "
              data-testid="delete-user-successor-selector"
              [formControl]="deleteOrganizationCreatorForm.controls.successor">
              <mat-option
                *ngFor="
                  let successor of modalData.data.possibleCreatorSuccessors
                "
                data-test-id="delete-user-successor-selector-option"
                [value]="successor.userId"
                >{{ successor.firstName }} {{ successor.lastName }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <p class="text-[13px] !-mt-4">
            {{
              'DIALOGS.DELETE_USER.SUCCESSOR_LINKED'
                | translate: {userName: data.userFullName}
            }}
          </p>
        </form>
      </div>
      <div *ngIf="!modalData.data.isOrganizationCreator" class="space-y-1">
        <p>{{ 'DIALOGS.DELETE_USER.CONFIRM' | translate }}</p>
        <p>
          {{ 'DIALOGS.DELETE_USER.LINK_TO_CREATOR' | translate }}
          <span class="italic"> {{ data.userOrganizationName }}</span>.
        </p>
      </div>
    </div>
  </div>

  <div class="px-4 py-3 flex justify-end gap-2">
    <button
      class="btn-outline"
      type="button"
      data-testid="delete-user-dialog-cancel-btn"
      (click)="onDismiss()">
      {{ 'COMMON.CANCEL' | translate }}
    </button>
    <button
      class="btn-accent-danger flex items-center gap-1.5"
      type="button"
      data-testid="delete-user-dialog-confirm-btn"
      [disabledBtn]="
        (!isLastParticipantAdmin &&
          isOrganizationCreator &&
          deleteOrganizationCreatorForm.invalid) ||
        isBusy ||
        !modalData.dataOrUndefined?.canBeDeleted ||
        !modalData.isReady
      "
      (click)="onConfirmDeleteUserClick()">
      <div
        *ngIf="isBusy"
        class="border-4 border-gray-300 border-t-0 border-l-0 rounded-full w-4 h-4 animate-spin"></div>
      {{ 'COMMON.DELETE' | translate }}
    </button>
  </div>
</mat-dialog-content>
