<section class="container m-10 px-10 mx-auto">
  <app-header [headerConfig]="headerConfig"></app-header>

  <div class="flex justify-center items-center">
    <div class="mt-4 w-full lg:w-2/3">
      <form class="flex flex-col w-full justify-center">
        <div
          class="select-none flex flex-col justify-center items-center my-10 w-2/3 mx-auto">
          <app-organization-select
            class="w-full"
            label="{{
              'PAGES.COMPONENT_REGISTRATION.CLIENT_ORGANIZATION' | translate
            }}"
            [ctrl]="form.connectorInfo.controls.organization"
            [organizations]="state.organizationList"></app-organization-select>

          <app-text-input
            class="w-full"
            label="{{ 'PAGES.COMPONENT_REGISTRATION.CONNECTOR_NAME' | translate }}"
            ctrlId="formRegOConName"
            placeholder="{{
              'PAGES.COMPONENT_REGISTRATION.CONNECTOR_NAME_PLACEHOLDER'
                | translate
            }}"
            required
            [ctrl]="form.connectorInfo.controls.name"></app-text-input>

          <app-text-input
            class="w-full"
            label="{{
              'PAGES.COMPONENT_REGISTRATION.CONNECTOR_LOCATION' | translate
            }}"
            ctrlId="formRegOConLocation"
            placeholder="{{
              'PAGES.COMPONENT_REGISTRATION.CONNECTOR_LOCATION_PLACEHOLDER'
                | translate
            }}"
            required
            [ctrl]="form.connectorInfo.controls.location"></app-text-input>
        </div>

        <div
          class="border-t border-gray-900/10 pt-6 mt-6 flex items-center justify-end gap-x-6">
          <button
            class="btn-accent-outline"
            type="button"
            [routerLink]="exitLink">
            {{ 'COMMON.CANCEL' | translate }}
          </button>

          <button
            class="btn-accent"
            [disabledBtn]="!form.connectorInfo.valid"
            (click)="reserveConnector()">
            {{ 'PAGES.COMPONENT_REGISTRATION.CREATE_CONNECTOR' | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
