<div
  class="flex flex-col justify-center items-center h-screen w-screen top-0 left-0 absolute">
  <div class="fixed top-10 right-10">
    <app-language-switcher></app-language-switcher>
  </div>
  <h1 class="full-screen-end-title">
    {{ 'PAGES.NOT_FOUND.TITLE' | translate }}
  </h1>
  <p class="full-screen-end-prose">
    {{ 'PAGES.NOT_FOUND.MESSAGE' | translate }}
  </p>
  <a class="btn-accent" routerLink="/">{{
    'PAGES.NOT_FOUND.GO_BACK' | translate
  }}</a>

  <!-- footer -->
  <app-footer-for-full-page></app-footer-for-full-page>
</div>
