<h2 class="wizard-end-title">
  {{ 'PAGES.COMPONENT_REGISTRATION.CONNECTOR_SUCCESS_HEADING' | translate }}
</h2>

<div class="flex text-left gap-12 overflow-hidden max-w-full">
  <div class="flex w-1/2 flex-col gap-12">
    <!-- Docker Image -->
    <div class="flex flex-col gap-3">
      <h3 class="wizard-end-subtitle">
        {{
          'PAGES.COMPONENT_REGISTRATION.CONNECTOR_SUCCESS_STEP1_TITLE'
            | translate
        }}
      </h3>
      <div>
        {{
          'PAGES.COMPONENT_REGISTRATION.CONNECTOR_SUCCESS_STEP1_TEXT'
            | translate
        }}
      </div>
      <div class="relative overflow-hidden w-full">
        <div class="absolute top-[0.25rem] right-0">
          <button
            mat-icon-button
            data-testid="code-copy-btn"
            aria-label="copy button with"
            (click)="copyToClipboardDockerImage()">
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>
        <input
          class="bg-gray-100 border border-gray-700 rounded-lg block text-left outline-none w-full text-gray-500 px-6 py-4"
          type="text"
          readonly
          [attr.value]="config.dockerImage" />
      </div>
    </div>

    <!-- Deployment Guide -->
    <div class="flex flex-col gap-3">
      <h3 class="wizard-end-subtitle">
        {{
          'PAGES.COMPONENT_REGISTRATION.CONNECTOR_SUCCESS_STEP2_TITLE'
            | translate
        }}
      </h3>
      <div>
        {{
          'PAGES.COMPONENT_REGISTRATION.CONNECTOR_SUCCESS_STEP2_TEXT'
            | translate
        }}
      </div>
      <a
        class="text-blue-600 hover:text-blue-800 no-underline"
        target="_blank"
        [href]="config.deploymentGuideUrl">
        {{ config.deploymentGuideUrl }}
      </a>
    </div>
  </div>
  <div class="flex w-1/2 flex-col gap-12">
    <!-- Connector Config -->
    <div class="flex flex-col gap-3">
      <h3 class="wizard-end-subtitle">
        {{
          'PAGES.COMPONENT_REGISTRATION.CONNECTOR_SUCCESS_STEP3_TITLE'
            | translate
        }}
      </h3>
      <div>
        {{
          'PAGES.COMPONENT_REGISTRATION.CONNECTOR_SUCCESS_STEP3_TEXT'
            | translate
        }}
      </div>
      <div class="relative overflow-hidden">
        <div class="absolute top-0 right-0">
          <button
            mat-icon-button
            data-testid="code-copy-btn"
            aria-label="copy button with"
            (click)="copyToClipboard()">
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>
        <code
          class="bg-gray-100 border border-gray-700 rounded-lg block text-left text-xs text-gray-500 whitespace-pre overflow-auto max-h-[20rem] break-words px-6 py-4">
          {{ connectorConfig }}
        </code>
      </div>
    </div>
  </div>
</div>
